@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
}

.custom-button {
  background-color: #4ca696 !important;
  color: white !important;
  border: none;
  padding: 15px;
}

.custom-button:hover {
  background-color: #3b907e !important;
}

.button-bg {
  background-color: #4ca696 !important;
  border: none !important;
}
.custom-white-button {
  color: #4ca696;
  border: #4ca696;
  padding: 15px;
  border: #4ca696 1px solid;
}

.custom-cancel {
  background: gray;
  padding: 15px;
  border: none !important;
}

.custom-cancel-bg {
  background-color: gray !important;
  border: none !important;
}

/* Change active tab text color */
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #4ca696 !important;
  font-weight: bold;
}

/* Change active tab underline (ink bar) */
.ant-tabs-ink-bar {
  background-color: #4ca696 !important;
}

.ant-select-selector {
  border: 1px solid #4ca696 !important; /* Change border */
}

.ant-select-focused .ant-select-selector {
  border-color: #4ca696 !important; /* Change border color on focus */
}

.custom-switch.ant-switch-checked {
  background-color: #4ca696 !important;
}

.custom-switch {
  background-color: #4ca696 !important;
}

/* Change the default border */
.ant-radio-wrapper .ant-radio {
  border: 1px solid #4ca696 !important;
}

/* Change border color on hover */
.ant-radio-wrapper:hover .ant-radio {
  border-color: #4ca696 !important;
}

/* Change border color when checked */
.ant-radio-checked .ant-radio-inner {
  border-color: #4ca696 !important;
}

/* Change the background color when checked */
.ant-radio-checked .ant-radio-inner::after {
  background-color: #4ca696 !important;
}

.ant-radio-inner::after {
  background-color: #4ca696 !important;
}

.ant-switch:hover {
  background-color: #3b907e !important;
}
